

/* clases temporales hasta terminar el contenido */
.temporal {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}



span {
    font-size: 3rem;
}
input {
    margin: 1%;
}

/* Modificadores de formulario de contacto */

legend {
    font-size: 3rem;
}
label {
    font-size: 2rem;
    margin: 5px;
    font-weight: 700;
}
input {
    font-size: 2rem;
}
textarea {
    font-size: 2rem;
    margin: 5px;
}

.sendButton {
    text-align: center;
    font-size: 2.5rem;
}

.fontSize-servicios {
    font-size: 2.5rem;
    font-weight: 600;
    text-decoration: underline 2px;
}

.formStyle-trabaja {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
fieldset {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 2%;
    border-style: none;
}

.formBox {
    width: 50%;
    height: 50%;
}
.formBox2 {
    width: 100%;
    height: 100%;
}
/* Fin clases generales y modificadores de form Contacto */


/* Inicio Grids y Flex - First Mobile */




.mainFlex-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: flex-start;
}






.flexForm {
    display: flex;
    flex-direction: column;
    width: fit-content;
}



/* Fin "First Mobile" */

/* Inicio media queries en minimos 480px y 900px */



    .mainFlex { 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: start;
    }

    .gridNav ul {
        flex-direction: row;
        justify-content: space-between;
        margin: 1%;
    }

    
    
   
        
        .photoAside {
            flex-direction: column;
            width: 300%;
        }
        

        
        
        .alignForm {
            justify-self: start;
        }

        
    

        
/* Fin media queries */
       

/* Inicio clases transiciones */

.translate:hover {
    transform: translateY(-10px);
    transition: transform 1.5s;
}

    
    .gridNav ul li:hover{
        transform: scale(1.1);
        width: 10%;
        min-width: max-content;
        border: solid black;
        background-color: rgb(182, 20, 20, 0.5);
        transition: all 1.5s ;
        
}


/* Fin transiciones */

