footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    & img {
        width: 20%;
    } 
}

.alignSocial {
    align-self: flex-end;
}    

.footerTextBox {
    align-self: flex-end;
    font-weight: 600;
    font-style: italic;
    }