.lineal-gradient {
    background: linear-gradient(90deg, $color-gray, $color-white, $color-pink-strong);

    }

h1{
    font-size: 2.5rem;
    background-color: rgb(119, 107, 107);
    text-align: center;
    width: 100%;
    font-weight: 700;
}

h2 {
font-size: 2.5rem;
text-align: center;
font-weight: 400;
margin: 2% 0%;
padding: 1%;
}

h3{
    font-size: 2.5rem;
    margin: 2%;
}

h4{
    font-size: 1.5rem;
}

p {
    font-size: 2rem;
    }



    
aside { 
    grid-area: aside;
    & ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        margin: 0% 2%;
        padding: 1%;
        & li {
            font-size: 2.5rem;
            background-color: rgba(77, 68, 73, 0.473);
            height: auto;
            list-style: none;
            & :hover {
                text-decoration: underline black;
            }
        }
    }
}


.videoBox {
    width: 100%; 
    height: 315px;

}