/* Color themes */

$color-gray: rgb(119, 107, 107);
$color-gray-trans: rgba(77, 68, 73, 0.473);
$color-red-trans: rgb(182, 20, 20, 0.5);
$color-pink-strong: #BF0436;
$color-pink: #BF0449;
$color-blue: #658CBF;
$color-blue-strong: #034C8C;
$color-white:#F2F2F2;
// Fonts //

@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Marathi&display=swap');

$ff-tiro: "tiro devanagari marathi, serif;"

